.primaryBtn {
  background-color: var(--primary-green);
  color: var(--primary-green-dark);
  font-family: var(--font-main);
  font-weight: 900;
  padding: 12px 30px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 4px 0 var(--primary-green-dark);
  transition: 0.1s;
}

.primaryBtn:active {
  transform: translateY(3px);
  box-shadow: 0 1px 0 var(--primary-green-dark);
}