.battleContainer {
  flex: 1;
  display: flex;
  gap: 1.5rem;
  min-height: 0;
}

.battleArena {
  flex: 1;
  background: rgba(255, 255, 255, 0.02);
  border-radius: 30px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid transparent;
  gap: 3px;
  min-height: 0;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  overflow-y: auto;
  padding: 10px;
  flex: 1;
}

.headText{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.teamHeader {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  font-size: 28px;
}

.scoreText {
  font-size: 2.5rem;
  font-weight: 900;
}

.statusLabel{
  font-weight: 700;
}

.winLabel {
  color: var(--color-accent);
}

.isWinner {
  background: var(--color-winner-bg);
  border-color: var(--color-accent);
}

@media (max-width: 768px) {
  .battleContainer {
    flex-direction: column;
    overflow-y: auto;
  }
  
  .scoreText {
    font-size: 1.5rem;
  }
}

