.card {
  background-color: var(--text-white);
  padding: 20px;
  border-radius: 24px;
  width: 160px;
  text-align: center;
  transition: var(--transition-normal);
  cursor: pointer;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.imgWrapper {
  background-color: var(--light-gray-bg);
  border-radius: 16px;
  padding: 10px;
  margin-bottom: 12px;
}

.card img {
  width: 100%;
}

.card h3 {
  color: var(--text-dark);
  font-size: 1rem;
  font-weight: 700;
}

.card p {
  color: var(--text-gray);
  font-weight: 700;
  font-size: 0.85rem;
}